.gerb
         {
            height: 70px;
         }
.posl
         {
            height: 50px;
         }
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}
.text1 {
   font-family: Comic Sans MS;
}
.text2 {
   font-family: Time New Roman;
}
